.content-container {
	background-color: white;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	min-height: 100vh;
	box-sizing: border-box;
}

.repertoire-section {
	background-color: white;
	padding: 6rem 3rem 4rem;
	max-width: 1440px;
	margin: 0 auto;
}

.repertoire-sub-section {
	margin-bottom: 60px;
}

.repertoire-sub-section h2 {
	font-size: 1.75rem;
	margin-bottom: 20px;
	border-bottom: 2px solid #ccc;
	padding-bottom: 10px;
}

.repertoire-sub-section h3 {
	font-size: 1.25rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
	color: var(--color-dark);
}

.repertoire-intro {
	font-size: 1rem;
	color: #333;
	line-height: 1.6;
	margin-bottom: 1rem;
}

.repertoire-list ul {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.repertoire-list li {
	flex: 1 1 45%;
	margin-left: 1.5rem;
	margin-bottom: 10px;
	font-size: 1rem;
	line-height: 1.6;
}
@media (max-width: 768px) {
	.repertoire-section {
		padding: 0 1.25rem;
		width: 100%;
		margin-top: -30%;
		position: relative;
		z-index: 1000;
	}

	.repertoire-sub-section {
		background-color: white;
		margin-left: 1.25rem;
		margin-right: 1.25rem;
	}
	.repertoire-list li {
		flex: 1 1 100%;
		margin-left: 0;
	}
}

.accordion-group {
	margin-top: 0;
}

.accordion {
	background-color: #2e2e2e;
	color: white;
	cursor: pointer;
	padding: 1rem 1.5rem;
	width: 100%;
	border: none;
	text-align: left;
	font-size: 1.2rem;
	transition: background-color 0.3s ease;
}

.accordion:hover {
	background-color: #444;
}

.panel {
	display: none;
	padding: 1rem 1.5rem;
	background-color: #f9f9f9;
	border-left: 4px solid #ccc;
}

.panel ul {
	padding-left: 1.25rem;
	list-style-type: disc;
}
